<div class="vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-md-offset-1" style="background-color: white;">
        <div id='surveyElement'></div>
        <div *ngIf="isCompleted">
          <app-complete></app-complete>
        </div>
        <div *ngIf="isEarlyAge">
          <div class="intro">
            <h3>Thank you, but this assessment is designed for women between the ages of 40 and 60. For resources on early menopause, you can visit the Daisy Network (https://www.daisynetwork.org/).</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>