@media only screen and (max-width: 767px) {
  .container {
    background-color: lightblue;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    background-color: lightgreen
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    background-color: goldenrod
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    background-color: lightsalmon
  }
}

/* .container {
  margin-top: 10vh;
} */

/* @media only screen and (max-height: 414px) {
  .container {
    margin-top: 10vh;
  }
}

@media only screen and (min-height: 413px) and (max-height: 731px) {
  .container {
    margin-top: 14vh;
  }
}

@media only screen and (min-height: 732px) and (max-height: 992px) {
  .container {
    margin-top: 18vh;
  }
}

@media only screen and (min-height: 993px) {
  .container {
    margin-top: 22vh;
  }
} */

.col-sm-10, .col-md-8 {
  background-color: rgb(32, 142, 179);
}

