<div>
  





  <div class="intro">
    <br><br>
    <h1>Thank You, {{ name }} of {{ age }} of age</h1>

    <h1>{{ outcome.status | titlecase }}</h1>

    <h2>Your most bothersome symptom is: {{ symptom | titlecase }}</h2>
    <h2>Your main goal is: {{ goal | titlecase }}</h2>
    
    <h3>Below are your recommended articles. </h3>
    <div>
        <h4>You can also read more about the phases of menopause<a href='https://www.bia.care/blog/menopause-terms-explained' target='_blank'> here.</a></h4>
    </div>
    <h6></h6>
  </div>

  <div class="intro">
    <br><br><br>
    <h1 *ngIf="articles.length > 0"> Your Recommendations</h1>

    <div *ngFor="let article of articles; let i = index;">    
        <div class="panel-group">
            <div class="panel panel-default" id="resources">
              <div class="panel-heading clearfix resources-title">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="{{'#collapse'+i}}">{{ article.title }}<span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="float: right; color: dimgrey;"></span></a>
                </h4>
              </div>
              <div id="{{'collapse'+i}}" class="panel-collapse collapse">
                <div class="panel-body">

                    <h6>{{ article.description }}</h6>
                      <h4>Read more about this symptom:</h4>
                      <h5>{{ article.answers }}</h5>
                      <h6>{{ article.body }}</h6>
                </div>
              </div>
            </div>
        </div> 
    </div>

    <div *ngIf="signup">
      <h2>sign up for newsletter</h2>
    </div>




  </div>









</div>
