.signup input {
  display: block !important;
  width: 72% !important;
  height: 36px !important;
  background-color: transparent !important;
  line-height: 1.6 !important;
  font-family: open-sans, sans-serif !important;
  padding: 8px 14px !important;
  color: black !important;
  border: 0px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid black !important;
  box-shadow: none !important;
  text-align: center;
  letter-spacing: 0.08em !important;
}

/* CHECK */
.complete-intro {
  margin-top: 15vh !important;
  margin-bottom: 4.5vh !important;
}

.complete-intro h4 {
  text-align: left !important;
}

.complete-intro p {
  color: black !important;
}


.complete-intro p strong, .complete-results span strong, .complete-results span a strong {
  font-weight: 700 !important;
}

.complete-results span a, .complete-results span a:hover, .complete-results span a:visited, .complete-results span a:active {
  color: #ff9574 !important;
  text-decoration: none !important;
}

.complete-results span, .complete-intro p {
  line-height: 1.6 !important;
  color: black;
}

.complete-results {
  margin-bottom: 7vh !important;
}

.complete-articles h5, .signup h5 {
  text-align: center;
  margin-bottom: 4.5vh !important;
}

.complete-articles {
  margin-bottom: 7vh !important;
}



.complete-articles .panel {
  margin-top: 0px !important;
  background-color: #17635E !important;
  border: 0px !important;
  border-radius: 24px;
  height: 12vh !important;
  color: white;
  font-family: "ModernEra-Medium", open-sans, sans-serif;
}

.complete-articles .panel-body {
  padding: 15px !important;
}

.complete-articles a, .complete-articles a:hover, .complete-articles a:active, .complete-articles a:visited {
  color: white !important;
  text-decoration: none !important;
}

.panel-body {
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  text-align: center !important;
}

.panel-body span {
  font-size: 12pt;
}

.signup input {
  margin-top: 0px !important;
  margin-bottom: 4.5vh !important;
}
