<div>
  <div class="intro">
    <h1>Thank You, {{ result.first_name }}</h1>
    <h3>Below are your results and recommended articles. You can also <a href='#'>print your results here.</a></h3>
    <div>
        <h4>You are likely in peri-menopause. You can read more about peri-menopause here.</h4>
    </div>
    <h6>Perimenopause means ‘around menopause,’ and typically starts in a woman’s 40s. It is the time when signs and symptoms of falling oestrogen levels begin to manifest. For example, irregular periods or hot flushes. Perimenopause lasts until 12 months after your final menstrual bleed. For over half of women, the perimenopause stage lasts for over 7 years. But this doesn’t mean you have to endure through your symptoms for all that time, as there are treatments that can help.</h6>
  </div>

  <div class="intro">
    <h1> Your Symptoms</h1>

    <div *ngFor="let symptom of symptoms; let i = index;">    
        <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="{{'#collapse'+i}}">{{ symptom.text }}<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                </h4>
              </div>
              <div id="{{'collapse'+i}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <h3>Brief explanation of this {{ symptom.text }}</h3>
                    <h5>Read more on {{ symptom.text }}</h5>
                    <div class="card" style="width:44rem;">
                        <img class="card-img-top" src="../../assets/images/woman.jpg" alt="Card image cap" style="width:100%">
                        <div class="card-body">
                            <h3 class="card-title">Resource about {{ symptom }}</h3>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div> 
    </div>
    
    
    <h1> Your Health Goals</h1>
    
    <div *ngFor="let goal of goals; let i = index;">    
        <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="{{'#collapse' + i + i }}">{{ goal.text }}<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                </h4>
              </div>
              <div id="{{'collapse'+i+i}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Read more on {{ goal.text }}</h5>
                    <div class="card" style="width:44rem;">
                        <img class="card-img-top" src="../../assets/images/goal.jpg" alt="Card image cap" style="width:100%">
                        <div class="card-body">
                            <h3 class="card-title">Resource about {{ goal.text }}</h3>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div> 
    </div>
  </div>




</div>
