@import url("https://use.typekit.net/kll3mxz.css");
@import url("https://use.typekit.net/kll3mxz.css");

.signup input {
  display: block !important;
  width: 50% !important;
  height: 36px !important;
  background-color: transparent !important;
  line-height: 1.6 !important;
  font-family: open-sans, sans-serif !important;
  padding: 8px 14px !important;
  color: black !important;
  border: 0px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid black !important;
  box-shadow: none !important;
  text-align: center;
}
