@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://use.typekit.net/kll3mxz.css");

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


#survey {
    height: 54vh;
}

.greeting {
    font-family: calluna, serif;
    font-size: 40px !important;
    text-align: center;
    color: #486491 !important;
}

.about-assessment {
    font-family: futura-pt, sans-serif;
    font-size: 24px !important;
    text-align: left;
    color: #1B1C1D;
}

.disclaimer {
    font-family: futura-pt, sans-serif;
    font-size: 20px !important;
    text-align: left;
    color: #1B1C1D;
}

.disclaimer > a {
    text-decoration: none;
    color: #FD866D;
}

.disclaimer > a:link {
    text-decoration: none;
    color: #FD866D;
}

.disclaimer > a:visited {
    text-decoration: none;
    color: #f85737;
}

.disclaimer > a:hover {
    text-decoration: none;
    color: #f85737;
}

.disclaimer > a:active{
    text-decoration: none;
    color: #486491;
}

.sv_start_btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400 !important;
    font-size: 16pt !important;
    color: #FD866D;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sv_prev_btn{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400 !important;
    font-size: 16pt !important;
    color: #FD866D;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sv_next_btn{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400 !important;
    font-size: 16pt !important;
    color: #FD866D;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sv_complete_btn{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400 !important;
    font-size: 16pt !important;
    color: #FD866D;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sv_q_title, .sv_p_title{
    font-family: futura-pt, sans-serif;
    font-weight: 400 !important;
    font-size: 18pt !important;
    color: black;
    text-align: center;
}

.sv_q_text_root {
    border: none;
    border-bottom: 1px solid gray !important; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
}

.sv_q_text_root:hover {
    border: none;
    border-bottom: 1px solid #FD866D !important; 
}

*:focus {
    outline: none !important; 
}

.sv_body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sv_q_radiogroup > label {
    border: 1px solid #B8DEF5;
    padding: 8px;
    margin: 8px;
    font-family: futura-pt, sans-serif;
    font-weight: 300 !important;
    font-size: 14pt !important;
    width: 80%;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.sv_q_radiogroup > label:hover {
    background-color: #B8DEF5;
}

.sv_q_radiogroup.sv-q-col-1.checked > label {
    background-color: #B8DEF5;
}

.sv_qstn {
    margin-left: auto;
    margin-right: auto;

}